/* ---------------------- Reset ---------------------------
  Usually we would be using a css preprocessor and import a reset then minify everything
  For readability purposes, and the fact of using native css, I have included the eric
  meyer reset as minified.
  ---------------------------------------------------------
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}




/* ---------------------- General --------------------------- */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #F7F7F7;
  color: #0E0E0E;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
}

button {
  border: none;
  background: #F7F7F7;
  color: #125688;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

button:disabled {
  border: none;
  background: transparent;
  color: #ccc;
}

img {
  max-width: 100%;
}

a, a:hover, a:visited {
  color: #125688;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

header {
  text-align: center;
}

.container {
  background: #fff;
  border: 1px solid #F4F8FF;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 600px;
}

/* ---------------------- Header --------------------------- */

.header-logo {
  font-size: 24px;
  margin: 20px 0;
}

.header-controls ul {
  clear: both;
  display: inline-block;
  margin: 20px auto;
  overflow: hidden;
}

.header-controls li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

/* ---------------------- Light Box --------------------------- */

.light-box-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999998;
}

.light-box-container button {
  background: #fff;
}


.light-box-container.active {
  display: block;
}

.light-box {
  background: #fff;
  border: 1px solid #E4E4E4;
  display: block;
  margin: 0 auto;
}

.light-box-username, .light-box-likes {
  display: inline-block;
}

.light-box-username {
  float: left;
}

.light-box-likes {
  float: right;
}

.light-box-caption {
  padding: 10px 0;
  height: 40px;
  font-size: 12px;
  overflow: scroll;
}

.light-box-container-background {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999998;
}

.light-box-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.light-box-image-container {
  background: #fff;
  border: 1px solid #656565;
  border-radius: 3px;
  box-shadow: 0 0 140px rgba(0, 0, 0, .3);
  margin: 20px auto;
  max-width: 440px;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 999999;
}

.light-box-info-container {
  clear: both;
  overflow: hidden;
  padding: 10px 0 0 0;
}

.light-box-left-control-container, .light-box-right-control-container {
  padding: 10px;
  position: absolute;
  top: 230px;
}

.light-box-left-control-container {
  left: -60px;
}

.light-box-right-control-container {
  right: -60px;
}

/* ---------------------- Thumbnails --------------------------- */

.thumbnail-container {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 25%;
}

.thumbnail {
  border: 1px solid #F4F8FF;
  cursor: pointer;
}

/* ---------------------- Smaller Screens --------------------------- */

@media (max-width: 690px) {

  .header-controls button {
    font-size: 12px;
  }

  .thumbnail-container {
    width: 50%;
  }

  #light-box {
    margin: 0 auto;
    max-width: 100%;
  }

  .light-box-left-control-container {
    left: 0px;
  }

  .light-box-right-control-container {
    right: 0px;
  }

}